# 공공데이터포털 API
DATA_GO_KR_API_KEY=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Auth.js
AUTH_SECRET=

# Kakao
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
NEXT_PUBLIC_KAKAO_MAP_KEY=

# Naver
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
